---
import Logo from './Logo.astro';
import Navbar from './Navbar.astro';
import MobileMenu from './MobileMenu.tsx';
---

<header id="header" class="sticky top-0 z-50 w-full h-20 bg-slate-800 shadow-lg">
  <div
    id="header-container"
    class="relative h-full max-w-[1440px] px-4 mx-auto transition-all duration-300"
  >
    <div class="flex items-center justify-between h-full select-none">
      <Logo />
      <div class="flex-1 flex justify-center">
        <nav class="hidden lg:flex items-center">
          <Navbar />
        </nav>
      </div>
      <div class="hidden lg:flex flex-none">
        <a href="/contact" class="px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700">
          Заказать звонок
        </a>
      </div>
      <div class="lg:hidden">
        <MobileMenu client:load />
      </div>
    </div>
  </div>
</header>