---
import { Icon } from 'astro-icon/components';
import ArticleSlider from './ArticleSlider.astro';
---

<div id="top-header" class="hidden lg:block bg-gray-100 border-b border-gray-200 text-sm text-gray-600 transition-all duration-300 ease-in-out">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-10">
            <div class="hidden lg:flex items-center max-w-md">
                <Icon name="newspaper" class="w-5 h-5 mr-3 text-gray-500 shrink-0" />
                <ArticleSlider />
            </div>
            <div class="flex items-center space-x-6 pl-6">
                <a href="tel:+78005553535" class="flex items-center hover:text-blue-600 transition-colors shrink-0">
                    <Icon name="phone" class="w-4 h-4 mr-2" />
                    <span>8 (800) 555-35-35</span>
                </a>
                <a href="mailto:info@trisoft.ru" class="flex items-center hover:text-blue-600 transition-colors shrink-0">
                    <Icon name="email" class="w-4 h-4 mr-2" />
                    <span>info@trisoft.ru</span>
                </a>
            </div>
        </div>
    </div>
</div>