---
import Layout from '@layouts/Layout.astro'


const pageTitle = 'О Компании '
const pageDescription =
    'Страница о компании'
---

<Layout title={pageTitle} description={pageDescription}>
    <h2 class="text-center font-bold my-4">Страница о компании</h2>
</Layout>

