---
import Layout from '@layouts/Layout.astro';
import SectionHeader from '@components/base/SectionHeader.astro';
---

<Layout
  title="Политика конфиденциальности"
  description="Политика конфиденциальности и обработки персональных данных сайта trisoft.ru."
>
  <section class="section-padding bg-white">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <SectionHeader
        as="h1"
        title="Политика конфиденциальности"
        description="Редакция от 10 сентября 2025 г."
      />
      <div class="prose lg:prose-xl mx-auto mt-12">
        <h2>1. Общие положения</h2>
        <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями законодательства и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО «Трисофт» (далее – Оператор).</p>
        
        <h2>2. Основные понятия, используемые в Политике</h2>
        <p>Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники...</p>

        <h2>3. Права и обязанности Оператора</h2>
        <p>Оператор имеет право...</p>

        <h2>4. Права и обязанности субъекта персональных данных</h2>
        <p>Субъект персональных данных имеет право...</p>

        <h2>5. Заключительные положения</h2>
        <p>Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты info@trisoft.ru.</p>
      </div>
    </div>
  </section>
</Layout>
