---
import Layout from '@layouts/Layout.astro'


const pageTitle = 'Блог'
const pageDescription =
    'Страница блога'
---

<Layout title={pageTitle} description={pageDescription}>
    <h2 class="text-center font-bold my-4">Страница Блога</h2>
</Layout>

