---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import SectionHeader from '@components/base/SectionHeader.astro';
import BlogListContainer from '@components/blog/BlogListContainer.astro';

// Получаем все посты из коллекции 'blog'
const allPosts = await getCollection('blog');

// Сортируем их по дате публикации (от новых к старым)
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<Layout title="Блог компании Трисофт" description="Статьи, новости и полезные материалы от экспертов компании Трисофт в области 1С, веб-разработки и IT-аутсорсинга.">
    <main class="bg-white py-12 lg:py-16 section-padding">
        <div class="max-w-7xl mx-auto px-4">
            <!-- Header -->
            <header class="mb-8 text-center">
                <SectionHeader
                    title="Наш блог"
                    subtitle="Оставайтесь в курсе последних новостей и тенденций в IT."
                    description=""
                />
            </header>

            <!-- Posts & Search -->
            <section>
                <BlogListContainer posts={sortedPosts} />
            </section>
        </div>
    </main>
</Layout>