---
import Layout from '@layouts/Layout.astro'


const pageTitle = 'Кейсы компании '
const pageDescription =
    'Страница кейсов'
---

<Layout title={pageTitle} description={pageDescription}>
    <h2 class="text-center font-bold my-4">Страница кейсов</h2>
</Layout>
